<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--PERMISO PARA INTERNET-->

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--
    DEBIDO A QUE SE UTLIZA EL FORMATO HTTP Y NO HTTPS SE DEBE UTILIZAR
    USESCLEARTRAFFIC TRUE
    ESTO HACE QUE SE DEBAN IMPLEMENTAR MEDIDAS DE SEGURIDAD
    -->

    <application
        android:allowBackup="true"

        android:usesCleartextTraffic = "true"

        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Move"
        tools:targetApi="31">
        <activity
            android:name="MainActivity.Main"
            android:exported="true"
            android:label="@string/title_activity_side_bar"
            android:theme="@style/Theme.Move.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="login_and_registeration.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="login_and_registeration.RegisterActivity"
            android:exported="true">


            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>